html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

.row {
  opacity: .8;
}

.game {
  margin: auto;
  width: 700px;
  border: 2px solid black;

}

.title-bar {
  background: black;
  color: white;
  font-size: 40px;
  margin: auto;
  width: 700px;
  text-align: center;
}

body {
  background: #DDD url('NES_ss-metal_gear.png') repeat fixed;
  width: 100%;
  height: 100%;

}

.row {
  float: left;
  background: #aaee45;

}

.cell {
  width: 35px;
  height: 35px;
/*  background: #aaee45;*/

}

.snake {
  width: 35px;
  height: 35px;
  background: #25abcd;
}

.snakehead {
  width: 35px;
  height: 35px;
  z-index: 999;
}
.box {
  width: 35px;
  height: 35px;
  z-index: 999;
}


.apple {
  width: 35px;
  height: 35px;
  background: #ff0000;
  border-radius: 50%;
}
.snake.head {
  background: url('Solid_Snake2.jpg') no-repeat 20px 50px;
  background-size: cover;

}

.group:after {
  content: "";
  display: block;
  clear: both;
}